<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <appSettings>
        <add key="IsLoggingEnabled" value="false"/>
        <add key="IsRenderingEnabled" value="true"/>
        <add key="IsDebugRenderingEnabled" value="true"/>
        <add key="ScreenWidth" value="1024"/>
        <add key="ScreenHeight" value="500"/>
        <add key="TileWidth" value="50"/>
        <add key="TileHeight" value="50"/>
        <add key="MapWidth" value="10"/>
        <add key="MapHeight" value="10"/>
    </appSettings>
</configuration>
